<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Experto Agropecuario</h1> - <h3>(2001)</h3></li>
            <p>Escuela Agrotécnica Cornelio Saavedra - Rodeo - Iglesia - San Juan.</p>
        </ul>
        <ul>
            <li><h1>Programador Universitario</h1> - <h3>(2004)</h3></li>
            <p>Universidad Nacional de San Juan - Facultad de Ciencias Exactas, Físicas y Naturales - Rivadavia  - San Juan.</p>
        </ul>
        <ul>
            <li><h1>Licenciatura en Informática</h1> - <h3>(2007)</h3></li>
            <p>Universidad Blas Pascal -Córdoba.</p>
        </ul>

    </div>
</div>

