<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="img fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Edgar Gaspar Muñoz</p>      
        <p>Full Stack Developer Jr </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1> 
            <p>Desarrollador de software con experiencia en diseño,
                 instalación, pruebas y mantenimiento de sistemas de software. 
                 Dominio de varias plataformas, lenguajes y sistemas integrados. 
                 Experiencia en herramientas y procedimientos de desarrollo 
                 vanguardistas. Capaz de autogestión eficaz en proyectos independientes. 
                 Habilidades de colaboración dentro de un equipo productivo.
            </p>
        </span>
    </div>
</div>
