<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-12-sm col-md-7 col-lg-7 parte1">
            <h1>Participación del Libro MeDHiME.</h1>
            <p>“Metodología de Diseño Hipermedial de Materiales Educativos”.Esta es una Metodología que permite integrar a los docentes no informáticos a la Web.</p>
        </div>
        <div class="col-12-sm col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 ">
            <img src="../../../assets/images.jpg" class="img-fluid img-proyecto">

        </div>
    </div>
</div>
