<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Desarrollo de Sistemas Informático a Medida, Tareas Administrativas y Trabajos varios </h1> - <h3>2023</h3></li>
            <p>Adminiztración Publica de San Juan.</p>
        </ul>
        <ul>
            <li><h1>Diseño y Desarrollo de Sistemas Informáticos</h1> - <h3>2023</h3></li>
            <p>Roberto Tello & Asociados.</p>
        </ul>
        <ul>
            <li><h1>Encargado de Sistema y Mantención de máquinas, Trabajos Administrativos y otros</h1> - <h3>(2008)</h3></li>
            <p>Híper Farmacia San Martin (Sucursal 1 y 2).</p>
        </ul>

    </div>
</div>
